html{
background: #F2F2F2;
}

.item{
    height: 72px;
    width: 240px;
    margin-left: 32px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    float: left;
}

.container{
width: 1120px;
height: 398px;
background: #f7f7f7;
}

.wrapper{
    width: 100%;
    height: 24px;
    margin-left: 32px;
    background-color:linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}







/*
.row{
overflow: hidden;
width: 1120px;
height: 398px;
background-color: #f7f7f7;
float: left;
}

.col-md-3.col-xs-12{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    border-radius: 6px;
}


.img{
    width: 200px;
    height: 30px;
}
*/