html{
background: #F2F2F2;
}

.main{
    height: 398px;
    width: 1120px;
    
}

.container{
float: inline-start;
overflow: hidden;
width: 1120px;
height: 398px;
background-color: #f7f7f7;
}

.container:hover {
    cursor: pointer;
  }

.soft{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    border-radius: 6px;
}
h3{
    background-color: #F8F8F8;
    width: 1120px;
    height: 56px;
    font: TT Lakes;
    size: 16px;
    line-height: 24px;
    padding:0;
    margin: 0;
}

.img{
    width: 200px;
    height: 30px;
}