.container{
display: flex;
flex-wrap: wrap;
width: 1120px;
height: 398px;
background-color: #F2F2F2;
}

.soft{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    border-radius: 6px;

}
.img{
    width: 200px;
    height: 30px;
}