html{
background: #F2F2F2;
}

.container{
align-items:flex-start;
overflow: hidden;
width: 1120px;
height: 398px;
background-color: #f7f7f7;
}

.col-md-3.col-xs-12{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    border-radius: 6px;
}


.img{
    width: 200px;
    height: 30px;
}