html{
background: #F2F2F2;
width: 100%;
}
body{
    width: 1120px;
    margin: 0px;
    padding: 0px;
}

.item{
    height: 72px;
    width: 240px;
    margin-top: 24px;
    margin-left: 32px;

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    float: left;
}

.container{
width: 1120px;
height: 398px;
background: #908d8d;
margin-top: 40px;
margin: 0px;
}

.wrapper{
    width: 100%;
    height: 32px;
    background-color: #f7f7f7;
   
   
}
h3{
    height: 24px;
    width: 338px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}

@media (max-width: 330px) {
    .item {
      display: none;
    }
    .container{

        height: 496px;
        width:100%;


    }
  }

  @media (max-width: 330px) {
    .item:nth-child(1) {
      display: none;
    }
  }



/*
.row{
overflow: hidden;
width: 1120px;
height: 398px;
background-color: #f7f7f7;
float: left;
}

.col-md-3.col-xs-12{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    border-radius: 6px;
}


.img{
    width: 200px;
    height: 30px;
}
*/