.container{
display: flex;
flex-wrap: wrap;
justify-content:space-around;
width: 1120px;
height: 398px;
background-color: #F2F2F2;
}

.soft{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    border-radius: 6px;
}
h3{
    width: 1120px;
    height: 56px;
    font: TT Lakes;
    size: 16px;
    line-height: 24px;
    padding:0;
}

.img{
    width: 200px;
    height: 30px;
}