html{
background: #F2F2F2;
}

.item{
    height: 72px;
    width: 240px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}




/*
.row{
overflow: hidden;
width: 1120px;
height: 398px;
background-color: #f7f7f7;
float: left;
}

.col-md-3.col-xs-12{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 240px;
    border-radius: 6px;
}


.img{
    width: 200px;
    height: 30px;
}
*/